
.octodex {
    padding: 1em;
  -moz-column-count: 3;
  -moz-column-gap: 1em;
  -webkit-column-count: 3;
  -webkit-column-gap: 1em;
  column-count: 3;
  column-gap: 1em;
}

img{
  max-width: 100%;
}

.octocat > a > img {
  border:1px solid lightgrey;
  border-radius: 1%;
  padding: 0px;
  margin: 0px;
}
.octocat > a{
  text-decoration: none;
}
.image-footer {
  display: inline-block;
  width: 100%;
  text-align: right;
  border-bottom: 2px solid lightgrey;
  padding: 0px 0px 12px 0px;
  margin-top: 0px;
}

ul{
  padding: 0px;
}

.image-number{
  display: inline;
  font: helvetica;
  color: lightgrey;
  font-size: 14px;
  font-weight: bold;
  float: left;
}

.image-number:before{
  content:"#";
}

.image-caption{
  display: inline;
  font-family: helvetica;
  font-size: 14px;
  font-weight: bold;
  color: gray;
  text-align: right;
}

.image-caption a{
text-decoration: none;
color: black;
font-weight: bold;
font: helvetica;
}

.authors img{
  display:inline;
  width: 6%;
  float:right;
}

.authors, .authors li{
  display: inline;
  font: helvetica;
}

.image-footer::before{
  content: "";
  display: block;
  height: 0;
  width: 0;
  border: 8px solid transparent;
  border-top-color: lightgrey;
  position: relative;
  right: -95%;
  top: auto;
}
